CMPE273 New Project/UniversityManagement2/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Connections" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Connections" xmlns:intf="http://Connections" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Connections" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="listStudents">
    <complexType/>
   </element>
   <element name="listStudentsResponse">
    <complexType>
     <sequence>
      <element name="listStudentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listCourse">
    <complexType/>
   </element>
   <element name="listCourseResponse">
    <complexType>
     <sequence>
      <element name="listCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findPreson">
    <complexType/>
   </element>
   <element name="findPresonResponse">
    <complexType>
     <sequence>
      <element name="findPresonReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findCourse">
    <complexType/>
   </element>
   <element name="findCourseResponse">
    <complexType>
     <sequence>
      <element name="findCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudent">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipCode" type="xsd:int"/>
      <element name="courseList" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudentResponse">
    <complexType>
     <sequence>
      <element name="addStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCourse">
    <complexType>
     <sequence>
      <element name="courseId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCourseResponse">
    <complexType>
     <sequence>
      <element name="deleteCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourse">
    <complexType>
     <sequence>
      <element name="courseId" type="xsd:string"/>
      <element name="courseName" type="xsd:string"/>
      <element name="courseSection" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCourseResponse">
    <complexType>
     <sequence>
      <element name="addCourseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignInstructor">
    <complexType>
     <sequence>
      <element name="courseId" type="xsd:string"/>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignInstructorResponse">
    <complexType>
     <sequence>
      <element name="assignInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enrollStudent">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="enrollStudentResponse">
    <complexType>
     <sequence>
      <element name="enrollStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayCourseInfo">
    <complexType/>
   </element>
   <element name="displayCourseInfoResponse">
    <complexType>
     <sequence>
      <element name="displayCourseInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unEnrollStudent">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unEnrollStudentResponse">
    <complexType>
     <sequence>
      <element name="unEnrollStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unAssignInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unAssignInstructorResponse">
    <complexType>
     <sequence>
      <element name="unAssignInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayPersonInfo">
    <complexType/>
   </element>
   <element name="displayPersonInfoResponse">
    <complexType>
     <sequence>
      <element name="displayPersonInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="listInstructors">
    <complexType/>
   </element>
   <element name="listInstructorsResponse">
    <complexType>
     <sequence>
      <element name="listInstructorsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="studentId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipCode" type="xsd:int"/>
      <element name="courseList" type="xsd:string"/>
      <element name="department" type="xsd:string"/>
      <element name="meetingTime" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInstructorResponse">
    <complexType>
     <sequence>
      <element name="addInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructorResponse">
    <complexType>
     <sequence>
      <element name="deleteInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="findCourseRequest">

      <wsdl:part element="impl:findCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseRequest">

      <wsdl:part element="impl:addCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentResponse">

      <wsdl:part element="impl:enrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInstructorResponse">

      <wsdl:part element="impl:addInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentResponse">

      <wsdl:part element="impl:addStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listStudentsResponse">

      <wsdl:part element="impl:listStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unAssignInstructorRequest">

      <wsdl:part element="impl:unAssignInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findPresonResponse">

      <wsdl:part element="impl:findPresonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayPersonInfoResponse">

      <wsdl:part element="impl:displayPersonInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unAssignInstructorResponse">

      <wsdl:part element="impl:unAssignInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findPresonRequest">

      <wsdl:part element="impl:findPreson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCourseResponse">

      <wsdl:part element="impl:addCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCourseResponse">

      <wsdl:part element="impl:deleteCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayCourseInfoRequest">

      <wsdl:part element="impl:displayCourseInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findCourseResponse">

      <wsdl:part element="impl:findCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInstructorRequest">

      <wsdl:part element="impl:addInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listInstructorsResponse">

      <wsdl:part element="impl:listInstructorsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCourseRequest">

      <wsdl:part element="impl:listCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unEnrollStudentRequest">

      <wsdl:part element="impl:unEnrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorResponse">

      <wsdl:part element="impl:deleteInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentRequest">

      <wsdl:part element="impl:addStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorRequest">

      <wsdl:part element="impl:deleteInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="enrollStudentRequest">

      <wsdl:part element="impl:enrollStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayPersonInfoRequest">

      <wsdl:part element="impl:displayPersonInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayCourseInfoResponse">

      <wsdl:part element="impl:displayCourseInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unEnrollStudentResponse">

      <wsdl:part element="impl:unEnrollStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listCourseResponse">

      <wsdl:part element="impl:listCourseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorRequest">

      <wsdl:part element="impl:assignInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listStudentsRequest">

      <wsdl:part element="impl:listStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listInstructorsRequest">

      <wsdl:part element="impl:listInstructors" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCourseRequest">

      <wsdl:part element="impl:deleteCourse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorResponse">

      <wsdl:part element="impl:assignInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="listStudents">

         <wsdl:input message="impl:listStudentsRequest" name="listStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listStudentsResponse" name="listStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCourse">

         <wsdl:input message="impl:listCourseRequest" name="listCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:listCourseResponse" name="listCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findPreson">

         <wsdl:input message="impl:findPresonRequest" name="findPresonRequest">

       </wsdl:input>

         <wsdl:output message="impl:findPresonResponse" name="findPresonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findCourse">

         <wsdl:input message="impl:findCourseRequest" name="findCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:findCourseResponse" name="findCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdl:input message="impl:addStudentRequest" name="addStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addStudentResponse" name="addStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCourse">

         <wsdl:input message="impl:deleteCourseRequest" name="deleteCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCourseResponse" name="deleteCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourse">

         <wsdl:input message="impl:addCourseRequest" name="addCourseRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCourseResponse" name="addCourseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdl:input message="impl:assignInstructorRequest" name="assignInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignInstructorResponse" name="assignInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdl:input message="impl:enrollStudentRequest" name="enrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:enrollStudentResponse" name="enrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayCourseInfo">

         <wsdl:input message="impl:displayCourseInfoRequest" name="displayCourseInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayCourseInfoResponse" name="displayCourseInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unEnrollStudent">

         <wsdl:input message="impl:unEnrollStudentRequest" name="unEnrollStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:unEnrollStudentResponse" name="unEnrollStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unAssignInstructor">

         <wsdl:input message="impl:unAssignInstructorRequest" name="unAssignInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:unAssignInstructorResponse" name="unAssignInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayPersonInfo">

         <wsdl:input message="impl:displayPersonInfoRequest" name="displayPersonInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayPersonInfoResponse" name="displayPersonInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listInstructors">

         <wsdl:input message="impl:listInstructorsRequest" name="listInstructorsRequest">

       </wsdl:input>

         <wsdl:output message="impl:listInstructorsResponse" name="listInstructorsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInstructor">

         <wsdl:input message="impl:addInstructorRequest" name="addInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:addInstructorResponse" name="addInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdl:input message="impl:deleteInstructorRequest" name="deleteInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteInstructorResponse" name="deleteInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findPreson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findPresonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findPresonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCourse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCourseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCourseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="enrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="enrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="enrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayCourseInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayCourseInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayCourseInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unEnrollStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unEnrollStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unEnrollStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unAssignInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unAssignInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unAssignInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="displayPersonInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayPersonInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayPersonInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listInstructors">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listInstructorsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listInstructorsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/UniversityManagement2/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
